build --cxxopt=-std=gnu++20
build --copt=-Wall
build --copt=-Wextra
build --linkopt=-fno-omit-frame-pointer
build --linkopt=-Wl,--no-undefined

build:opt --copt=-O3

build:asan --copt=-fsanitize=address,undefined
build:asan --linkopt=-fsanitize=address,undefined

build:coverage --opt=-fprofile-arcs --copt=-ftest-coverage
build:coverage --linkopt=-fprofile-arcs --linkopt=-ftest-coverage