Checks: >
  *,
  -abseil-*,
  -llvmlibc-*,
  -llvm-*,
  -google-runtime-int,
  -altera-*,
  -modernize-use-trailing-return-type,
  -fuchsia-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-macro-usage,
  -clang-diagnostic-overloaded-shift-op-parentheses,
  -modernize-use-nodiscard,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-identifier-length,
  -misc-no-recursion,
  -misc-include-cleaner,
  -google-build-using-namespace,
  -bugprone-chained-comparison,
  -misc-non-private-member-variables-in-classes,
  -hicpp-avoid-c-arrays,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -portability-avoid-pragma-once,
  -clang-analyzer-cplusplus.NewDelete
HeaderFilterRegex: '(src|tests)/.*\.(hpp|cpp)$'
CheckOptions:
  - key: readability-identifier-naming.StructCase
    value: Camel_Snake_Case
  - key: readability-identifier-naming.ClassCase
    value: Camel_Snake_Case
  - key: readability-identifier-naming.TypedefCase
    value: Camel_Snake_Case
  - key: readability-identifier-naming.TypeAliasCase
    value: Camel_Snake_Case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.ParameterSuffix
    value: _
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k_
  - key: readability-identifier-naming.ConstexprVariableCase
    value: lower_case
  - key: readability-identifier-naming.ConstexprVariablePrefix
    value: k_
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: Camel_Snake_Case
