BasedOnStyle: Chromium
AccessModifierOffset: -2
QualifierAlignment: Right
ColumnLimit: 120
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false