# Automatically activates the Nix development environment when you cd into
# this directory
#
# Requirements:
#   - direnv (https://direnv.net/)
#   - nix-direnv (https://github.com/nix-community/nix-direnv)
#
# Install both with:
#   nix profile install nixpkgs#direnv nixpkgs#nix-direnv
#   echo 'eval "$(direnv hook bash)"' >> ~/.bashrc  # or ~/.zshrc
#   echo 'source $HOME/.nix-profile/share/nix-direnv/direnvrc' >> ~/.config/direnv/direnvrc
#
# After making changes to flake.nix:
#   direnv reload
#
# To disable auto-activation:
#   direnv deny

use flake
