name: CI Build and Test

on:
  push:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'CMakeLists.txt'
      - 'CMakePresets.json'
      - 'vcpkg.json'
      - '.github/workflows/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'CMakeLists.txt'
      - 'CMakePresets.json'
      - 'vcpkg.json'
      - '.github/workflows/**'

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build-and-tests-one:
    strategy:
      fail-fast: false
      matrix:
        preset: [ "debug-asan-ubsan" ]
        gcc-version: [13]
    uses: ./.github/workflows/common.yml
    with:
      gcc-version: ${{ matrix.gcc-version }}
      preset: ${{ matrix.preset }}

  build-and-tests:
    needs: build-and-tests-one
    strategy:
      fail-fast: false
      matrix:
        preset: [ "debug", "release", "debug-asan-ubsan", "release-asan-ubsan" ]
        gcc-version: [13, 14]
        exclude:
          - preset: "debug-asan-ubsan"
            gcc-version: 13
    uses: ./.github/workflows/common.yml
    with:
      gcc-version: ${{ matrix.gcc-version }}
      preset: ${{ matrix.preset }}