name: CI Build and Test

on:
  push:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'CMakeLists.txt'
      - 'CMakePresets.json'
      - 'vcpkg.json'
      - '.github/workflows/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'CMakeLists.txt'
      - 'CMakePresets.json'
      - 'vcpkg.json'
      - '.github/workflows/**'

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build-and-tests:
    strategy:
      fail-fast: false
      matrix:
        preset: [ "release", "debug-asan-ubsan" ]
        gcc-version: [14]
    uses: ./.github/workflows/common.yml
    with:
      gcc-version: ${{ matrix.gcc-version }}
      preset: ${{ matrix.preset }}