name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build-and-tests:
    strategy:
      fail-fast: false
      matrix:
        preset: [ "release-asan-ubsan", "debug-asan-ubsan" ]
    uses: ./.github/workflows/common.yml
    with:
      preset: ${{ matrix.preset }}
      clang-tidy: true
