name: Clang-Tidy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  clang-tidy:
    strategy:
      fail-fast: false
      matrix:
        preset: [ "debug", "release" ]
        gcc-version: [14]
    uses: ./.github/workflows/common.yml
    with:
      gcc-version: ${{ matrix.gcc-version }}
      preset: ${{ matrix.preset }}
      clang-tidy: true
