name: Common Steps

on:
  workflow_call:
    inputs:
      preset:
        required: true
        type: string
      coverage:
        required: false
        type: boolean
        default: false
      clang-tidy:
        required: false
        type: boolean
        default: false
    secrets:
      CODECOV_TOKEN:
        required: false

jobs:
  setup-and-build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v14

    - name: Cache Nix store
      uses: DeterminateSystems/magic-nix-cache-action@v8

    - name: Setup ccache
      uses: actions/cache@v4
      with:
        path: ~/.cache/ccache
        key: ccache-${{ inputs.preset }}-${{ github.sha }}
        restore-keys: |
          ccache-${{ inputs.preset }}-

    - name: Setup clang-tidy-cache
      if: ${{ inputs.clang-tidy }}
      uses: actions/cache@v4
      with:
        path: ~/.ctcache/cache
        key: clang-tidy-cache-${{ inputs.preset }}-${{ github.sha }}
        restore-keys: |
          clang-tidy-cache-${{ inputs.preset }}-

    - name: Show tool versions
      run: nix develop --command show-versions

    - name: Configure
      run: nix develop --command cmake --preset ${{ inputs.preset }}

    - name: Build
      if: ${{ !inputs.clang-tidy }}
      run: nix develop --command cmake --build --preset ${{ inputs.preset }}

    - name: Clang-Tidy
      if: ${{ inputs.clang-tidy }}
      run: nix develop --command run-tidy

    - name: Test
      if: ${{ !inputs.clang-tidy }}
      run: nix develop --command ctest --preset ${{ inputs.preset }}

    - name: Generate coverage report
      if: ${{ inputs.coverage }}
      run: nix develop --command generate-coverage

    - name: Upload coverage to Codecov
      if: ${{ inputs.coverage }}
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.info
        fail_ci_if_error: true

    - name: Upload Test Results
      if: ${{ always() && !inputs.clang-tidy }}
      uses: actions/upload-artifact@v4
      with:
        name: test-result-${{ inputs.preset }}
        path: build/${{ inputs.preset }}/Testing/Temporary/LastTest.log
