name: Common Steps

on:
  workflow_call:
    inputs:
      preset:
        required: true
        type: string
      coverage:
        required: false
        type: boolean
        default: false
      clang-tidy:
        required: false
        type: boolean
        default: false
    secrets:
      CODECOV_TOKEN:
        required: false

jobs:
  setup-and-build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install Devbox
      uses: jetify-com/devbox-install-action@v0.11.0
      with:
        enable-cache: true

    - name: Set vcpkg version
      run: echo "VCPKG_VERSION=$(cat .vcpkg-version)" >> $GITHUB_ENV

    - name: Cache vcpkg
      uses: actions/cache@v4
      with:
        path: |
          vcpkg
          ~/.cache/vcpkg
        key: ${{ runner.os }}-vcpkg-${{ env.VCPKG_VERSION }}
        restore-keys: |
          ${{ runner.os }}-vcpkg-

    - name: Show tool versions
      run: devbox run show-versions

    - name: Configure
      run: devbox run -- cmake --preset ${{ inputs.preset }}

    - name: Build
      if: ${{ !inputs.clang-tidy }}
      run: devbox run -- cmake --build --preset ${{ inputs.preset }}

    - name: Clang-Tidy
      if: ${{ inputs.clang-tidy }}
      run: devbox run run-tidy

    - name: Test
      if: ${{ !inputs.clang-tidy }}
      run: devbox run -- ctest --preset ${{ inputs.preset }}

    - name: Generate coverage report
      if: ${{ inputs.coverage }}
      run: |
        devbox run -- bash -c '
          lcov --capture --directory . --output-file coverage.info -rc geninfo_unexecuted_blocks=1 --ignore-errors mismatch --demangle-cpp
          lcov --remove coverage.info "/usr/*" "*/tests/*" "*/build/*" --output-file coverage.info
          lcov --list coverage.info
        '

    - name: Upload coverage to Codecov
      if: ${{ inputs.coverage }}
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.info
        fail_ci_if_error: true

    - name: Upload Test Results
      if: ${{ always() && !inputs.clang-tidy }}
      uses: actions/upload-artifact@v4
      with:
        name: test-result-${{ inputs.preset }}
        path: build/${{ inputs.preset }}/Testing/Temporary/LastTest.log
