name: Coverage

on:
  workflow_dispatch:       # Allows manual triggering of the workflow
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build-and-coverage:
    strategy:
      fail-fast: false
      matrix:
        preset: [coverage]
        gcc-version: [13]
    uses: ./.github/workflows/common.yml
    with:
      gcc-version: ${{ matrix.gcc-version }}
      preset: ${{ matrix.preset }}
      coverage: true
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}