name: Coverage

on:
  schedule:
    - cron: '0 21 * * FRI' # Run every Friday at 21:00 UTC
  workflow_dispatch:       # Allows manual triggering of the workflow
  push:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'CMakeLists.txt'
      - 'CMakePresets.json'
      - 'vcpkg.json'
      - '.github/workflows/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'CMakeLists.txt'
      - 'CMakePresets.json'
      - 'vcpkg.json'
      - '.github/workflows/**'

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build-and-coverage:
    strategy:
      fail-fast: false
      matrix:
        preset: [coverage]
        gcc-version: [14]
    uses: ./.github/workflows/common.yml
    with:
      gcc-version: ${{ matrix.gcc-version }}
      preset: ${{ matrix.preset }}
      coverage: true
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}